# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

web.config

install-frameworkmissing.html
install.php
framework/
cms/
reports/
/assets/
.idea/
/siteconfig/
favicon.ico
index.php
.editorconfig
.htaccess
composer.json
composer.lock
mysite/_config.php
*/simple/