.footer {
  background-image: url(../images/bg/low_contrast_linen.png);
  background-repeat: repeat;
  background-position: left top;

  .left-footer-content {

    @media @min525 {
      padding: 0 30px 0 0;
    }
  }

  .right-footer-content {

    text-align: center;
    margin-top: 50px;

    @media @min525 {
      padding: 0 0 0 30px;
    }


    @media @min992 {
      margin-top: 50px;
      text-align: right;
    }

    .footer-social-icons {

      .fa {
        font-size: 22px;
      }

      a {
        color: #FFF;
        &:visited {
          color: #FFF;
        }
        &:hover {
          color: @color-green;
        }
      }

    }

  }


  h2 {
    font-size: 16px;
    color: #FFF;
    height: 40px;
    margin: 0 0  0 0;
  }


  .page-links-wrapper {

    ul {
      padding: 0;
      margin: 20px 0;
      li{

        display: inline-block;
        a {
          margin: 10px 20px 10px 0;
          color: #FFF;
          &:hover, &:focus, &:active {
            color: @color-green;
            text-decoration: none;
          }
        }
      }
    }
  }

  .developer-mark {
    margin-bottom: 50px;

      margin-top: 30px;

    p {
      color: #FFF;
    }

    a {
      color: @color-green;

      &:hover {
        color: darken(@color-green, 20%);
        text-decoration: none;
      }
    }
  }

  .footer-contact-wrapper {

//    form {
//
//      fieldset{
//
//        .field {
//          width: 200px;
//          display: inline-block;
//          padding: 0 0 20px 0;
//
//          .text {
//            padding: 20px 0 20px 0;
//          }
//
//        }
//
//      }
//
//      .Actions {
//
//        .action {
//          padding: 15px;
//          color: @color-other-grey;
//          background-color: @color-green;
//          border-radius: 10px;
//
//        }
//
//      }
//    }


    #Form_TronsContactForm {

      margin: 20px 0 0 0;

      #Form_TronsContactForm_Name_Holder {

        display: block;
        
        @media @min525 {
          display: inline-block;
          width: 200px;
        }

        label {
          color:#FFF;

        }

        input {
          width: 100%;
          padding:10px;

          @media @min525 {
            width: 190px;
            margin: 0 10px 0 0;
          }

        }

      }

      #Form_TronsContactForm_Email_Holder {



        @media @min525{
          display: inline-block;
          width: 200px;
        }

        label {
          color:#FFF;
          @media @min525 {
            margin-left: 10px;
          }


        }

        input {
          width: 100%;
          padding: 10px;

          @media @min525{
            width: 190px;
            margin: 0 0 0 10px;
          }

        }

      }

      #Form_TronsContactForm_Message_Holder {
        margin-top: 20px;

        @media @min525{
          display: block;
          width: 400px;
        }

        label {
          color:#FFF;

        }

        textarea {
          width: 100%;
          padding: 10px;

          @media @min525{
            width: 400px;

          }

        }

      }

      .Actions {
        input{
          width: 100%;
          padding: 10px 60px 10px 60px;

          @media @min525 {

            width: auto;
          }

          border: 2px solid @color-green;

          background-color: transparent;
          color: @color-green;
//          margin: 20px 0  20px 115.5px;
          margin: 20px 0  20px 0;

          &:hover {
            background-color: @color-green;
            color: #000;
            -webkit-transition: color 1s, background-color 1s; /* Safari */
            transition: color 1s, background-color 1s;

          }

        }
      }

    }


  }

}