
.onboard-nav {
  //background-color: @color-grey;
  background-color: transparent;
  background-image: url(../images/bg/low_contrast_linen.png);
  //  background-image: url(../images/bg/retina_wood.png);

  background-repeat: repeat;
  background-position: left top;
  height: 85px;
  image-rendering: pixelated;
  -webkit-transition: width 1s, height 1s; /* Safari */
  transition: width 1s, height 1s;

  a {
    &:visited {
      color: #FFF;
      background-color:none;
    }
  }

  transition: all 1s ease;
  .container {

    @media @min992 {
      width: 992px;

    }

    @media @min1200 {
      width: 1170px;
    }

    @media @max767 {
      padding: 0;
    }

    #social-item-link {
      padding: 15px 0;

      &:hover, &:active, &:focus{
        color: @color-green;
        background-color: transparent;
//        background-image: url(../images/bg/low_contrast_linen.png);
//        background-repeat: repeat;
//        background-position: left top;
      }


      @media @max767 {
        text-align: center;
      }
    }

    #social-item-holder{

      @media @max767 {
        width: 10%;
        display: inline-block;
      }

    }


    //Header css Start
    .navbar-header {
      min-height: 85px;
      -webkit-transition: width 1s, height 1s; /* Safari */
      transition: width 1s, height 1s;

      .navbar-toggle {
        //background-color: @color-grey;
        background-color: transparent;
//        background-image: url(../images/bg/low_contrast_linen.png);
//        background-repeat: repeat;
//        background-position: left top;
        margin: 8px 30px 8px 0px;
        .icon-bar{
          background-color: @color-green;

        }

      }

      .navbar-brand {
        padding: 10px;
        @media @max767 {
          padding: 10px 10px 10px 20px;
        }
        img {
          width: 250px;
          height: 64px;
          image-rendering: pixelated;
          -webkit-transition: width 1s, height 1s; /* Safari */
          transition: width 1s, height 1s;
        }
      }
    }
    //Header css End
    //Content Start
    .navbar-collapse {
      -webkit-transition: width 1s, height 1s; /* Safari */
      transition: width 1s, height 1s;
      border: none;

      @media @max767 {
        width: 100%;
        padding: 0;
        margin: 0;
      }

      ul {
        //background-color: @color-grey;
        background-color: transparent;
        background-image: url(../images/bg/low_contrast_linen.png);
        background-repeat: repeat;
        background-position: left top;
        margin-top: 35px;
        transition: all 1s ease;
        @media @min992 {
          margin-left: 20px;

        }
        @media @max767 {
          width: 100%;
          margin: 0 auto;
        }

        #current-member {
          font-size: 14px;
          text-align: center;
          color: @color-green;
        }

        .dropdown-menu {
          margin: 0;
          border: none;

          a {
            text-align: center;
          }
        }


        li {
          a{
            color: #fff;
            font-family: GustanLight;
            font-size: 14px;
            font-weight: 900;
            @media @max767{
              padding-top: 20px;
              height: 60px;
            }
//            &:hover, &:active {
//              color: @color-grey;
//              background-color: @color-green;
//            }
            &:hover, &:active, &:focus{
              color: @color-green;
              //background-color: @color-grey;
              background-color: transparent;
//              background-image: url(../images/bg/low_contrast_linen.png);
//              background-repeat: repeat;
//              background-position: left top;
            }
          }
        }

        .active {
          a {
            color: @color-grey;
            //background-color: @color-green;
            background-color: transparent;
//            background-image: url(../images/bg/low_contrast_linen.png);
//            background-repeat: repeat;
//            background-position: left top;
          }

        }
      }
    }
    //Content End
  }
}


// Shrink

.shrink {
  -webkit-transition: width 1s, height 1s; /* Safari */
  transition: width 1s, height 1s;
  height: 50px;
  .container {

    //Header css Start
    .navbar-header {
      -webkit-transition: width 1s, height 1s; /* Safari */
      transition: width 1s, height 1s;
      min-height: 50px;

      .navbar-toggle {
        .icon-bar{

        }
      }

      .navbar-brand {
        img {
          width: 125px;
          height: 32px;
          image-rendering: pixelated;
          -webkit-transition: width 1s, height 1s; /* Safari */
          transition: width 1s, height 1s;
        }
      }
    }
    //Header css End
    //Content Start
    .navbar-collapse {
      ul {
        margin: 0;
        transition: all 1s ease;
        li {

        }

        .active {

        }
      }
    }
    //Content End
  }
}