// Animation effect and speed
.animation_animation(@animation: all 0.3s ease-in) {
  -o-transition: @animation;
  -ms-transition: @animation;
  -moz-transition: @animation;
  -webkit-transition: @animation;
  transition: @animation;
}

.link_animation() {
  .animation_animation();
}

.button_animation() {
  .animation_animation();
}

.transform_transform(@transform) {
  -webkit-transform: @transform;
  -ms-transform: @transform; // IE9 only
  -o-transform: @transform;
  -moz-transform: @transform;
  transform: @transform;
}

.transform_style(@transform) {
  -webkit-transform-style: @transform;
  -moz-transform-style: @transform;
  -ms-transform-style: @transform;
  -o-transform-style: @transform;
  transform-style: @transform;
}

// Style for p tag or general text
.text() {
  font-family: GustanLight;
  color: @color-text;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  text-align: left;
  transform: scaleY(1.0018);
  text-transform: none;
}




