.section-homepage-banner {

  .carousel,
  .item,
  .active {
    height: 100%;
  }

  .carousel-inner {
    height: 800px;
  }

  .carousel-caption{
    background-color: rgba(42,42,42,1);
    left: 0;
    right: 0;
    bottom:0;
    padding: 20px 0;
    z-index: 100;

  }
  .carousel-caption h2 {
    display: inline;
  }

  .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

}