#Main-Title {
  background-image: url(../images/bg/low_contrast_linen.png);
  background-repeat: repeat;
  background-position: left top;
  padding: 20px 0 20px 0;
  color: @color-green;
  margin-bottom: 100px;
  font-size: 20px;
  line-height: 1.1;
  font-family: GustanBold;
  font-weight: 200;
  text-align: center;
}


.coming-soon-modules {

  @media(min-width: 1800px){
    max-width: 1800px;
  }

  .row {
    margin: 0;
  }

  a {
    color: darken(@color-green, 20%);
  }

  .collapse {
    position: relative !important;
    top: -40px !important;
  }

  .glyphicon {
    font-size: 40px;
    color: @color-other-grey;

  }

  .glyphicon-plus-sign {
    color: darken(@color-green, 20%);
    font-size: 30px;
    margin-top: 0;
    &:hover {
      cursor: pointer;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 1.1;
    font-family: GustanBold;
    font-weight: 200;
    color: @color-other-grey;
    height: 65px;
  }
  #modules-text {
    padding: 70px 0 100px 0;
    h2 {
      font-family: GustanExtraBlack;
      margin: 30px 0;
    }

    @media (min-width: 1200px){
      .container {
        width: 1170px;
      }
    }
  }

  .module-icon {
    padding: 0;
    position: relative;
    top: -20px;
    border: 2px solid darken(@color-green, 20%);
    /*border-radius: 15px 50px;
    width: 150px;*/
    border-radius: 100px;
    padding: 20px;
  }

  /* onBoard Module / Panels Section */
  .onboard-module {
    width: 100%;
    height: auto !important;
    display: inline-block;
    @media (min-width: 800px){
      height: auto !important;
      width: 49%;
    }
    @media (min-width: 1100px){
      height: auto !important;
      width: 19.7%;
    }
    //    background-color: rgba(255, 255, 255, .5);
    margin-bottom: 80px;


    p {
      margin: 20px 10px 10px 10px;
      line-height: 18px;
      text-align: left;

      @media @min768 {
        margin: 20px 10px 10px 10px;
      }

    }

    @media(max-width: 1200px){
      height: 250px;
    }

    .btn-module {
      background-color: @color-primary;
      font-family: GustanMedium;
      color: #000;
      font-size: 15.71px;
      text-align: left;
      transform: scaleY(1.0134);
      border-radius: 0;
      margin: 0;
      padding: 13px 38px;
      &:hover, &:focus {
        background: darken(@color-primary, 20%);
      }

      &.white {
        color: #ffffff;
      }
    }


    .btn-module-transparent {
      border-width: 1.166666666666667px;
      border-color: @color-other-grey;
      border-style: solid;
      //max-height: 24px;
      //min-height: 24px;
      background: transparent;
      font-family: GustanBold;
      color: @color-other-grey;
      font-size: 15.73px;
      font-weight: 900;
      //line-height: 58px;
      text-align: left;
      transform: scaleY(1.009);
      &:hover, &:focus {
        border-color: darken(@color-other-grey, 20%);
      }
    }

  }

}





