.navbar-onboard {
  background-color: @color-grey;
  border-color: #080808;
  height: 110px;
  font-family: GustanExtraBlack;
}
.navbar-onboard .navbar-brand {
  color: #9d9d9d;
  img {
    position: absolute;
    top: 20px;
  }
}
.navbar-onboard .navbar-brand:hover,
.navbar-onboard .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-onboard .navbar-text {
  color: #9d9d9d;
}
.navbar-onboard .navbar-nav > li > a {
  color: #ffffff;
  top: -5px;
  margin: 0 10px;
  border-radius: 4px;
  background-color: @color-grey;
}
.navbar-onboard .navbar-nav > li > a:hover
 {
  color: @color-green;
  background-color: @color-grey;
  font-size:18px;

}
.navbar-onboard .navbar-nav > .active > a,
.navbar-onboard .navbar-nav > .active > a:hover{
  color: @color-green;
  background-color: @color-grey;
  font-size:18px;
  border-bottom: solid;

}
.navbar-onboard .navbar-nav > .disabled > a,
.navbar-onboard .navbar-nav > .disabled > a:hover,
.navbar-onboard .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-onboard .navbar-toggle {
  border-color: #333;
}
.navbar-onboard .navbar-toggle:hover,
.navbar-onboard .navbar-toggle:focus {
  background-color: #333;
}
.navbar-onboard .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-onboard .navbar-collapse,
.navbar-onboard .navbar-form {
  border-color: #101010;
  background-color: @color-grey;
}
.navbar-onboard .navbar-nav > .open > a,
.navbar-onboard .navbar-nav > .open > a:hover,
.navbar-onboard .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: @color-grey;
}
@media (max-width: 767px) {
  .navbar-onboard .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: @color-grey;
  }
  .navbar-onboard .navbar-nav .open .dropdown-menu .divider {
    background-color: @color-grey;
  }
  .navbar-onboard .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-onboard .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-onboard .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-onboard .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-onboard .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-onboard .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: @color-grey;
  }
  .navbar-onboard .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-onboard .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-onboard .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-onboard .navbar-link {
  color: #9d9d9d;
}
.navbar-onboard .navbar-link:hover {
  color: #fff;
}
.navbar-onboard .btn-link {
  color: #9d9d9d;
}
.navbar-onboard .btn-link:hover,
.navbar-onboard .btn-link:focus {
  color: #fff;
}
.navbar-onboard .btn-link[disabled]:hover,
fieldset[disabled] .navbar-onboard .btn-link:hover,
.navbar-onboard .btn-link[disabled]:focus,
fieldset[disabled] .navbar-onboard .btn-link:focus {
  color: #444;
}