.build-pc {

  #build-pc-top{
    display: block;
  }

  .img-responsive {
    display: inline-block;
  }

  #build-pc-left{
    display: inline-block;
    position: relative;
    left: 1px;
  }

  #build-pc-right{
    display: inline-block;
    position: relative;
    left: -10px

  }

  #build-pc-bottom{
    display: block;

  }

  #build-pc-content {
    position: relative;
    left: -3px;
  }

}